.hero {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    background-image: url('/images/backs.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContent {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    text-align: center;
    color: white;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.heroButton {
    margin: 2rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #fe5f1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.heroButton:hover {
    background-color: #ff7f50;
}